
.vs/API_Usuario/config/applicationhost.config
.vs/API_Usuario/FileContentIndex/b64117a9-64f1-4269-aa70-73dc6f293412.vsidx
.vs/API_Usuario/DesignTimeBuild/.dtbcache.v2
.vs/API_Usuario/FileContentIndex/5252a331-43e7-4612-a95f-002a2c52efe4.vsidx
.vs/API_Usuario/FileContentIndex/71b8e00e-943b-4981-9f6a-687d4775457e.vsidx
